<!--<p>file-downloader-client works!</p>-->
<!--<p-table [value]="filesArray">-->
<!--  <ng-template pTemplate="header">-->
<!--    <tr>-->
<!--      <th>Sr.No</th>-->
<!--      <th>-->
<!--        File Name-->
<!--      </th>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--  <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">-->
<!--    <tr>-->
<!--      <td>{{rowIndex + 1}}</td>-->
<!--      <td>-->
<!--        <a href={{item.FileRef}}>{{item.FileLeafRef}}</a>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </ng-template>-->
<!--</p-table>-->
<!--<p-button label="Download" type="button" (click)="downloadFile()"></p-button>-->
