<div class="container">

  <!--  <h4>Create New Event</h4>-->

  <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">
    <div class="form-group">
      <label for="titre"> Titre de la publication</label>
      <input type="text" class="form-control" formControlName="titre" id="titre" name="titre">

    </div>

    <div class="form-group">
      <label for="type"> Type de la publication</label>
      <input type="text" class="form-control" formControlName="type" id="type" name="type">

    </div>
    <mat-form-field appearance="fill">
      <mat-label>Date de publication </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateApparition">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="form-group">
      <label for="lien"> Lien de la publication</label>
      <input type="text" class="form-control" formControlName="lien" id="lien" name="lien">

    </div>


    <div class="form-group">
      <label for="sourcePdf" [formGroup]="form"> Source pdf</label>
      <br>
      <input type="file" formControlName="sourcePdf" id="sourcePdf" name="cv" placeholder="Upload file" accept=".pdf,.doc,.docx">
    </div>
<!--<app-authors></app-authors>-->

    <mat-accordion>
      <!-- #docregion basic-panel -->
      <!-- #docregion hide-toggle -->
      <mat-expansion-panel hideToggle>
        <!-- #enddocregion hide-toggle -->

        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
      <!-- #enddocregion basic-panel -->
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Membres qui ont participé dans la publication:
          </mat-panel-title>
          <!--        <mat-panel-description>-->
          <!--          Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
          <!--        </mat-panel-description>-->
        </mat-expansion-panel-header>
        <div *ngFor="let fullMemberName of members" >
          <mat-checkbox [value]="fullMemberName" (click)="onClick($event)" >
            {{fullMemberName.nom + ' '+ fullMemberName.prenom}}
          </mat-checkbox>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
<br>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
    </div>

  </form>
</div>
