<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav *ngIf="currentUser" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <hr>
    <mat-nav-list  >
      <a mat-list-item href="/member"*ngIf="currentUser && role!= 'visitor'">Mon Dashboard</a>
      <a mat-list-item href="/profile"*ngIf="currentUser && role!= 'visitor'">Modifier mon profile</a>
      <a mat-list-item href="/members">Tous les membres</a>
      <a mat-list-item href="/students">Tous les étudiants</a>
      <a mat-list-item href="/professors">Tous les enseignants</a>
      <a mat-list-item href="/events">Tous les evenements</a>
      <a mat-list-item href="/publications">Tous les publications</a>
      <a mat-list-item href="/tools">Tous les outils</a>
      <a mat-list-item href="/assign/student/teacher" *ngIf="currentUser && role =='ROLE_ADMIN'">Encadrement</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-button class="nav-link" style="color: currentColor" href="/home" routerLink="home" ><h1>Gestion Laboratoire</h1></a>

      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
<!--        <li class="nav-item">-->
        <a mat-button class="nav-link" style="color: currentColor" href="/login" routerLink="login" >LogIn</a>

<!--        <a mat-button href="/login" routerLink="login" >LogIn</a>-->
<!--        </li>-->
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <button mat-button [matMenuTriggerFor]="menu">{{ username }}</button>
        <mat-menu #menu="matMenu">
          <a href="/profile" class="nav-link" routerLink="profile" mat-menu-item>Mon Profil</a>
          <a href class="nav-link" (click)="logout()" mat-menu-item>LogOut</a>
        </mat-menu>
        <!--        </li>-->
<!--        <button mat-button [matMenuTriggerFor]="menu"></button>-->
<!--        <mat-menu #menu="matMenu">-->

  <!--        <li class="nav-item">-->
  <!--          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>-->
  <!--          <a href class="nav-link" (click)="logout()">LogOut</a>-->

<!--          <a href="/profile" class="nav-link" routerLink="profile" mat-menu-item>{{ username }}</a>-->
<!--          <a href class="nav-link" (click)="logout()" mat-menu-item>LogOut</a>-->
  <!--          <a href="http://www.google.com" mat-menu-item>Item 1</a>-->
  <!--          <button mat-menu-item>Item 2</button>-->
<!--          </mat-menu>-->
<!--        <li class="nav-item" *ngIf="currentUser && role =='ROLE_ADMIN'">-->
<!--          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a href class="nav-link" (click)="logout()">LogOut</a>-->
<!--        </li>-->
      </ul>

    </mat-toolbar>
    <div class="container">
      <!--  <br>-->
      <!--  <h2 style="text-align: center;">{{title}}</h2>-->
      <hr>
      <div class="card">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <span>All Rights Reserved 2021 </span>
      </div>
    </footer>  </mat-sidenav-content>
</mat-sidenav-container>
