.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.image {
  height: 250px;
  width: 300px;
  margin-top: 10px;
  margin-left: 70px;
  border-radius: 50%;

}
