
  <mat-accordion>
    <!-- #docregion basic-panel -->
    <!-- #docregion hide-toggle -->
    <mat-expansion-panel hideToggle>
      <!-- #enddocregion hide-toggle -->

      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    <!-- #enddocregion basic-panel -->
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Members
        </mat-panel-title>
<!--        <mat-panel-description>-->
<!--          Currently I am {{panelOpenState ? 'open' : 'closed'}}-->
<!--        </mat-panel-description>-->
      </mat-expansion-panel-header>
      <div *ngFor="let fullMemberName of members" >
        <mat-checkbox>
          {{fullMemberName.nom + ' '+ fullMemberName.prenom}}
        </mat-checkbox>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
