<app-nav></app-nav>
<!--<router-outlet></router-outlet>-->
<!--<nav class="navbar navbar-expand-sm bg-primary navbar-dark">-->
<!--  &lt;!&ndash; Links &ndash;&gt;-->
<!--  <ul class="navbar-nav">-->
<!--    <br>-->
<!--    <h2>Gestion Laboratoire</h2>-->
<!--    <li class="nav-item">-->
<!--      <a href="/members" class="nav-link" routerLinkActive="active">Membres</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a href="/publications" class="nav-link" routerLinkActive="active">Publications</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a href="/tools" class="nav-link" routerLinkActive="active">Outils</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a href="/events" class="nav-link" routerLinkActive="active">Evenements</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--  <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">-->
<!--    <li class="nav-item">-->
<!--      <a href="/register" class="nav-link" routerLink="register">Sign Up</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a href="/login" class="nav-link" routerLink="login">Login</a>-->
<!--    </li>-->
<!--  </ul>-->

<!--  <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">-->
<!--    <li class="nav-item">-->
<!--      <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a href class="nav-link" (click)="logout()">LogOut</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->


<!--<div class="container">-->
<!--&lt;!&ndash;  <br>&ndash;&gt;-->
<!--&lt;!&ndash;  <h2 style="text-align: center;">{{title}}</h2>&ndash;&gt;-->
<!--  <hr>-->
<!--  <div class="card">-->
<!--    <div class="card-body">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<footer class="footer">-->
<!--  <div class="container">-->
<!--    <span>All Rights Reserved 2021 </span>-->
<!--  </div>-->
<!--</footer>-->
