<!--<div class="container" *ngIf="currentUser && currentUser ; else loggedOut">-->
<!--  <h4><b>Modifier mon profile</b></h4>-->

<!--  <form [formGroup]="form" *ngIf="!!form" class="form" fxLayout="column">-->
<!--    <div class="form-group">-->
<!--      <label for="cin"> Cin</label>-->
<!--      <input type="text" class="form-control" formControlName="cin" id="cin" name="cin">-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--      <label for="prenom"> Prénom</label>-->
<!--      <input type="text" class="form-control" formControlName="prenom" id="prenom" name="prenom">-->

<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="nom"> Nom</label>-->
<!--      <input type="text" class="form-control" formControlName="nom" id="nom" name="nom">-->

<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="email"> Email</label>-->
<!--      <input type="text" class="form-control" formControlName="email" id="email" name="email">-->

<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="cv"> Cv</label>-->
<!--      <input type="text" class="form-control" formControlName="cv" id="cv" name="cv">-->
<!--    </div>-->

<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>Profession</mat-label>-->
<!--      <mat-select formControlName="type_mbr">-->
<!--        <mat-option *ngFor="let profession of professions" [value]="profession.value">-->
<!--          {{profession.viewValue}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

<!--    <div class="form-element">-->
<!--      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>-->
<!--    </div>-->

<!--  </form>-->
<!--&lt;!&ndash;  <header class="jumbotron">&ndash;&gt;-->
<!--&lt;!&ndash;    <h3>&ndash;&gt;-->
<!--&lt;!&ndash;      <strong>{{ currentUser.username }}</strong> Profile&ndash;&gt;-->
<!--&lt;!&ndash;    </h3>&ndash;&gt;-->
<!--&lt;!&ndash;  </header>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>&ndash;&gt;-->
<!--&lt;!&ndash;    <strong>Token:</strong>&ndash;&gt;-->
<!--&lt;!&ndash;    {{ currentUser.accessToken.substring(0, 20) }} ...&ndash;&gt;-->
<!--&lt;!&ndash;    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}&ndash;&gt;-->
<!--&lt;!&ndash;    {{currentUser.accessToken}}&ndash;&gt;-->
<!--&lt;!&ndash;  </p>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>&ndash;&gt;-->
<!--&lt;!&ndash;    <strong>Email:</strong>&ndash;&gt;-->
<!--&lt;!&ndash;    {{ currentUser.email }}&ndash;&gt;-->
<!--&lt;!&ndash;  </p>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>&ndash;&gt;-->
<!--&lt;!&ndash;    <strong>UserName:</strong>&ndash;&gt;-->
<!--&lt;!&ndash;    {{ currentUser.username}}&ndash;&gt;-->
<!--&lt;!&ndash;  </p>&ndash;&gt;-->
<!--&lt;!&ndash;  <p>&ndash;&gt;-->
<!--&lt;!&ndash;    <strong>Id:</strong>&ndash;&gt;-->
<!--&lt;!&ndash;    {{ currentUser.id }}&ndash;&gt;-->
<!--&lt;!&ndash;  </p>&ndash;&gt;-->
<!--&lt;!&ndash;  <strong>Roles:</strong>&ndash;&gt;-->
<!--&lt;!&ndash;  <ul>&ndash;&gt;-->
<!--&lt;!&ndash;    <li *ngFor="let role of currentUser.roles">&ndash;&gt;-->
<!--&lt;!&ndash;      {{ role }}&ndash;&gt;-->
<!--&lt;!&ndash;    </li>&ndash;&gt;-->
<!--&lt;!&ndash;  </ul>&ndash;&gt;-->
<!--</div>-->

<!--<ng-template #loggedOut>-->
<!--  Il faut s'authentifier pour voir cette page-->
<!--</ng-template>-->
