<div class="container">

  <h4><b>Crée un nouveau membre</b></h4>

  <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">
    <div class="form-group">
      <label for="cin"> Cin</label>
      <input type="text" class="form-control" formControlName="cin" id="cin" name="cin" disabled>
    </div>
    <div class="form-group">
      <label for="email"> Email</label>
      <input type="text" class="form-control" formControlName="email" id="email" name="email" disabled>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Profession</mat-label>
      <mat-select formControlName="type_mbr">
        <mat-option *ngFor="let profession of professions" [value]="profession.value" >
          {{profession.viewValue}}
        </mat-option>
      </mat-select >
    </mat-form-field>
    <div *ngIf="form.value.type_mbr=='Etudiant'">
      <app-student-form [memberForm]="form"></app-student-form>

    </div>
    <div *ngIf="form.value.type_mbr=='Enseignant'">
      <app-professor-form [memberForm]="form"></app-professor-form>
    </div>
  </form>
</div>
